/* 
    Document   : sarasota
    Created on : Sep 13, 2013, 8:22:50 AM
    Author     : aobi
    Description:
    Purpose of the stylesheet follows.
*/
#accordion_wrap{
    margin-top: 30px;
    font-weight: bold;
}